sudo: required
env:
  - RELEASE_BRANCH=master
services:
  - docker
language: java

cache:
  directories:
    - ~/.m2/repository

git:
  # The --depth option is used by default, which implies --single-branch. 
  # The result of this is ONLY the current bbranch/tag is cloned.
  # This means you can't checkout or fetch other branches. The loe restores "normal" behaviour
  depth: false

before_install:
  ## export GPG details
  - echo $GPG_SECRET_KEYS | base64 --decode | gpg --import

script:
  - mvn --settings .maven.xml clean install jacoco:report -Dgpg.skip -Dmaven.javadoc.skip=true -B -V
  - bash <(curl -s https://codecov.io/bash)

before_deploy:
  # Switch to the release branch (master)
  # bump the version according to the tag, commit, push then deploy to sonatype
  # When we change the version we use a temp branch which is then merged in to the release branch
  # We do this to avoid switching branches mid build
  - git config --global user.email "travis@travis-ci.com"
  - git config --global user.name "Travis CI"
  - git fetch
  - mvn versions:set -DnewVersion=${TRAVIS_TAG}
  - git branch ${TRAVIS_TAG}-temp
  - git branch -f $RELEASE_BRANCH ${TRAVIS_TAG}-temp
  - git commit -am "Bump Version to ${TRAVIS_TAG}"
  - git push https://${GH_TOKEN}@github.com/disneystreaming/pg2k4j.git $RELEASE_BRANCH
  - mvn clean deploy --settings .maven.xml -DskipTests=true -U -P release

deploy:
  # Add the jar to the git release
  provider: releases
  api_key:
    secure: YZgQtvlss2hovlNXCjrgdspCZIBdAeBI8HAsMkfOcTJQb9uuMfcD8YF9s/34EBRSJSvIYvCBat3f50Bm7p/qsjcxvGdwpd9dnh5jlc+K63jWsTzsYQbgnjHZxrC/Xsg05M22e/7AkmTAzt8OnDi+kgUn6Zxjj2B/WxAHY3GSWXtGGF1Yyl2flodtLcA8KbfGLFUEObmadNkJRiAdrEQ3xoDV2f3hYKl1tw2U/EDhEmlwIKKXKao8VAYIHJ0/5qmfDdHzvrAVwWLEHR3ANpop4lcAtU5u2UpfKqAZ0M1EuSepVWbgBIekI5b5VyilGAe7h+8P6KA3Ej6KMOOoPy/Qz0XMJIWcBfMJZOvOh5j2LY4aDsY0FmWiY0n50GWvMTw0VwY3uLHWCrj2Q2qGK7HIWO1wriZZPuAT6apRsDavfWhE3IiC1Kh2JOYMYaCNxOKPe5wHZZZrCRf3dqCl6jreO0WhpM/rBt0wVGyomN77+rifsfO9MZeSX1WHFtjyr77a74j6Wbi6IvJDvs6uLQiU4xa/pnmZyTq/9Vm/UPho0kGUL2cHZISfxA4AFb+WQuB3LZ4DJNHCPikZP39sSu0hEWoXQtmGqBmJMenGwaRMVIjX4KbZUN/ebKa4egMM2nlMldC9qU+8C4DG7ofNuOhjLzPEi6nq1J5CBOq8rdSeYtI=
  file:
    - target/pg2k4j-${TRAVIS_TAG}.jar
  skip_cleanup: true
  on:
    repo: disneystreaming/pg2k4j
    tags: true
    branch: $RELEASE_BRANCH
    condition: $TRAVIS_BRANCH =~ ^([0-9]+.[0-9]+.[0-9]+)-?(.*)?$
